# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Zip / temporary
*.zip
*.log

# Large dataset (not uploaded to GitHub)
dataset/full_dataset/
dataset/train/
dataset/val/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
